@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.main {
    display: flex;
    flex-wrap: wrap;
}


  

.img {
    width: 50%;
    animation: up 1.5s ;
    &__item {
        width: 100%;
        height: 100%;
    }
}

.right {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // transition: 1s all;
    animation: down 1.5s;
}

.form {
    width: 350px;
    margin: 0 auto;

    &__suptitle {
        font-size: 16px;
        line-height: 19px;
        color: #2D3748;
    }

    &__title {
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;
        color: #1A202C;
        margin-bottom: 24px;
        margin-top: 2px;
    }

    &-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 11px;

        & label {
            font-size: 16px;
            line-height: 19px;
            color: #4A5568;
            margin-bottom: 11px;
        }
    }

    &__control {
        border: 1px solid #E8E8E8;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 17px 20px;
        font-size: 14px;
        line-height: 16px;
        color: #2D3748;

        &.invalid {
            border:1px solid orangered;
        }
    }

    &-remember {
        display: flex;
        align-items: center;
        cursor: pointer;

        & label {
            margin-left: 11px;
            font-size: 14px;
            line-height: 16px;
            color: #2D3748;
            cursor: pointer;
        }
    }

    &-addition {
        margin-top: 26px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 27px;
    }

    &__forgot {
        font-size: 14px;
        line-height: 16px;
        color: #2C5282;
        text-decoration: none;
    }

    &-btn {
        border: none;
        background: none;
        width: 100%;
        border-radius: 5px;
        padding: 15px 0;
        text-align: center;
        cursor: pointer;
        margin-bottom: 15px;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
    }

    &-tip {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-size: 16px;
        line-height: 19px;
        color: #616161;
        cursor: pointer;

        & span {
            color: #2B6CB0;
        }
    }
}

.btn-google {
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
        width: 20px;
        height: 20px;
        margin-right: 11px;
    }
}

.btn-success {
    background: #04C45C;
    color: #fff;
}

.btn-dark {
    background: #2D3748;
    color: #fff;
}

@keyframes down {
    0% {
        opacity: 0;
        transform: translateY(300%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes up {
    0% {
        opacity: 0;
        transform: translateY(-300%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1000px) {

    body {
        overflow: auto;
    }

    .img {
        display: none;
    }

    .right {
        width: 100%;
    }
} 

@media (max-width: 512px) {
    .form {
        width: 300px;

        &-tip {
            bottom: 15px;
        }
    }
} 